<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input  name= "username" type='text' ng-model='user.username' required pattern=".{4,}">
    <input name='password' type="password" ng-model='user.password' required pattern=".{4,}">
    <button>signin</button>
  </form>
  <div role='alert'>
    <span class="error username" ng-show="signinForm.username.$error.pattern">
      USERNAME REQUIRES AT LEAST 4 CHARACTERS</span>
    <span class="error password" ng-show="signinForm.password.$error.pattern">
      PASSWORD REQUIRE AT LEAST 4 CHARACTERS</span>
  </div>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
